
nav{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    
}
main{
    width : 1140px;
    margin-top: 80px;
    position:relative;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}
h2{
    font-family: 'Roboto';
    font-size: 30px;
    color: #FF0101;
    text-align: center;
}
header{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 2;
}

.logo img{
    width: 250px;
    margin-left: 100px;
}
.flex div{
    width: 500px;
    height: 40px;
    margin: 20px;
    display: inline-block;
}
#p1{
    text-align: right;
}
#p2{
    text-align: left;
}
.atores{
       width: 100%;
}
footer{
    font-family: 'Roboto';
    font-size: 10px;
    background-color: #FF0101;
    text-align: center;
    color: white;
    padding: 20px;
    
  
}