section{
    width:  100%;
    height: 200px;
}

.Secao1 {
    background-color: violet;
}

.Secao2 {
    background-image: url("./img01.jpg");
    background-position: center;
    height: 500px;

}
.Secao3 {
    background-image: url("./img02.jpg");
    background-position: center;
    background-attachment: fixed;
}
.Secao4 {
    background-image: url("./img03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: botton;
    filter: blur(10px); 
}